@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
 <div id="carouselExampleControls" class="carousel slide homepage" data-bs-ride="carousel" >
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="images/q1.webp" class="d-block w-100" alt="..." height="500">
            </div>
            <div class="carousel-item">
                <img src="images/q2.webp" class="d-block w-100" alt="..." height="500">
            </div>
            <div class="carousel-item">
            <img src="images/d6.webp" class="d-block w-100" alt="..." height="500">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<!-- Card -->
<div
  class="bg-image card shadow-1-strong demo"
 style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"

  <div class="card-body text-white">
        <h1 class="card-title">Our Brands & Top picks </h1>
    <p class="card-text">
           <h3> <b>Shoes & handbags ,mobile accessories for your smartphone,Clothing</b></h3>
    </p>
@*    <a href="#!" class="btn btn-outline-light">Button</a>
*@  </div>
</div>
<div class="container">
<div class="withOptions">
    <div class="card space s1" style="width: 18rem;">
        <img src="/images/q3.webp" class="card-img-top pin" alt="...">
        <div class="card-body">
           
        </div>
    </div>
    <div class="card space" style="width: 18rem;">
        <img src="/images/q5.webp" class="card-img-top pin" alt="...">
        <div class="card-body">
            
        </div>
    </div>
    <div class="card space" style="width: 18rem;">
        <img src="/images/q6.webp" class="card-img-top pin" alt="...">
        <div class="card-body">
            
        </div>
    </div>
    <div class="card space" style="width: 18rem;">
        <img src="/images/q7.webp" class="card-img-top pin" alt="...">
        <div class="card-body">
            
        </div>
    </div>
    <div class="card space" style="width: 18rem;">
        <img src="/images/q8.webp" class="card-img-top pin" alt="...">
        <div class="card-body">
            
        </div>
    </div>
</div>
</div>
        </section>

<!-- Card -->
<!--Zoom effect-->
 <div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4 sample">
    <div class="col">
        <div class="card">
            <img src="/images/a2.webp" class="card-img-top" alt="...">
            <div class="card-body">
@*                <h5 class="card-title">Sparx Shoes</h5>
*@@*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
*@            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/images/a5.webp" class="card-img-top" alt="...">
            <div class="card-body">
@*                <h5 class="card-title">SAMSAUNG</h5>
*@@*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
*@            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card">
            <img src="/images/a6.webp" class="card-img-top" alt="...">
            <div class="card-body">
@*                <h5 class="card-title">Lino Paris</h5>
*@@*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
*@            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 sample2">
    <div class="col">
        <div class="card">
            <img src="/images/a7.webp" class="card-img-top" alt="...">
            <div class="card-body">
@*                <h5 class="card-title">Palladio</h5>
*@@*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
*@            </div>
        </div>
    </div>
    <div class="col">
        <div class="card ">
            <img src="/images/a8.webp" class="card-img-top " alt="...">
            <div class="card-body">
@*                <h5 class="card-title">Boat</h5>
*@@*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
*@            </div>
        </div>
    </div>

    <div class="col">
        <div class="card ">
            <img src="/images/a12.webp" class="card-img-top " alt="...">
            <div class="card-body">
@*                <h5 class="card-title"></h5>
*@                @*                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                *@
            </div>
        </div>
    </div>
</div>
</div>
<div class="container mt-4 d-flex justify-content-center">

    <div class="row g-0">

        <div class="col-md-4 border-right">
            <div class="cards">


                <div class="first bg-white p-4 text-center">
                    <img src="https://img.icons8.com/clouds/100/000000/box.png" />

                    <h5>Help Scout plus</h5>
                    <p class="line1">No limitation - Its got everything that you 'll need as you grow</p>

                </div>

            </div>

        </div>



        <div class="col-md-4 border-right">
            <div class="cards">
                <div class=" second bg-white p-4 text-center">
                    <img src="https://img.icons8.com/clouds/100/000000/groups.png" />

                    <h5>10 Users</h5>
                    <p class="line2">EASY EXCHANGE &<br>RETURN POLICY</p>

                </div>
            </div>

        </div>




        <div class="col-md-4">

            <div class="cards">
                <div class=" third bg-white p-4 text-center">
                    <img src="https://img.icons8.com/fluent/100/000000/trophy.png" />
                    <h5>World Class Support</h5>
                    <p class="line3">We'll help you get started and be there when you have questions</p>
                </div>
            </div>



        </div>

    </div>

</div>
<!-- Remove the container if you want to extend the Footer to full width. -->

<script>

      $('.withOptions').slick({
        slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 1000,
      });
</script>
<!-- End of .container -->