<style>
    div {
        height: 450px;
        overflow-y: hidden;
    }
</style>
<div>
    <h1>You Order has been placed sucessfully</h1>

    <a href="/Register/Index/" class="btn btn-primary">Continue to shop   </a>
    <a href="/Order/MyOrder/" class="btn btn-primary"> Go To My Orders  </a>
</div>